<h4 class="text-center mb-5">Ultimas canciones agregadas al playlist:</h4>

<div class="row" data-controller="tracks">
	<% @playlist.tracks.reverse.each do |track| %>
		<div class="col-md-4 col-sm-6">
			<div class="card" style="height: 30rem; margin-bottom: 2em;">
				<%= image_tag track.album.images.select{|i| i['height'] == 300 }.first['url'] || 'https://via.placeholder.com/300x300', class: "card-img-top", alt: 'https://via.placeholder.com/160x160' %>
				<div class="card-body text-center">
					<h5 class="card-title"><%= track.name %></h5>
					<p><b>Album: </b><%= track.album.name %></p>
				</div>
			</div>	
		</div>
	<% end %>
</div>